body {
	 overflow-x: hidden;
}
.logo {
	width: 110px;
	transition: 0.5s;
}
.logo:hover {
	width: 120px;
}
.cursor-default h1 {
	cursor: default;
}
.header-color {
	background-color: #00352D;
	padding: 20px;
}
.search {
	height: 25px;
	width: 400px;
	margin-right: 2px;
	background: none;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	outline: none;
}
.lang-li a{
	display: none;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}
.show a {
	display: block !important;
}
.show-log {
	display: block !important;
}
.border-b {
	border-bottom: 1px solid white;
	padding: 1px 0;
}
.icon {
	color: white;
	cursor: pointer;
	width: 20px;
}
.carousel-indicators .active {
    background-color: transparent !important;
    border: solid 1px white !important;
    }
.carousel-indicators li {
	border-radius: 100px !important;
	width: 20px !important;
	height: 20px !important;
	background-color: #fff !important;
}
.line {
	border-left: solid 1px;
	border-color: white;
	height :50px;
	width: 1px;
	margin: 0 10px;
}
.roboto {
	font-family: 'Roboto', sans-serif;
}
.sign {
	color: white;
	font-size: 12px;
	transition:0.3s ease-in-out;
}
.sign:hover {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14px;
}
.dropdown-menu {
	opacity: 0.7 !important;
}
.log-reg a{
 	display: none;
}
.house {
	width: 20px;
	cursor: pointer;
}
.nav-size {
	background-color: transparent !important;
}

.background-white {
	background-color: #fff !important;
}
.font-color a {
	color: #00352D !important;
}
.hover-style ul li a:hover {
	background-color: #00352D;
	color: #fff !important;
	border-radius: 25px;
}
.border-no {
	border: none !important;
}
.main-container {
	margin: 0 !important;
	padding: 0 !important;
}
.carousel-height {
	margin-top: 170px !important;
	height: 400px !important;
	margin-bottom: 30px !important;
}
.slide-bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;	
}
.slide-bg-1 {
	background-image: url("../img/andre-spieker-238-unsplash.jpg");
}
.slide-bg-2 {
	background-image: url("../img/david-clode-363878-unsplash.jpg");
}
.slide-bg-3 {
	background-image: url("../img/antonio-lapa-93448-unsplash.jpg");
}
/*.slide-bg-4 {
	background-image: url("../img/antonio-lapa-93448-unsplash.jpg");
}
*/
.slider2 {
	height: 100%;
}
.slider2 div {
	background-repeat: no-repeat;
	background-size: contain;
}
.margin-no {
	padding: 0 !important;
}
.text-btw h2{
	font-size: 35px;
	color: #444444;
	opacity: 0.7;
}
.video {
	width: 100%;
	object-fit: cover;
	height: inherit;
}
.pic {
    background-position: center;
    margin-right: 0px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.img-left {
    background-image: url("../img/dogpicforinf.jpg");
}
.img-right {
	background-image: url("../img/ricky-kharawala-10194-unsplash.jpg");
}
.insinde-cont {
	width: 285px;
	height: 174px;
	z-index: 10;
	position: relative;
	border-radius: 50px;
	background-color: #fff;
	opacity: 0.6;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-size: 23.36px;
  	display: table;
}
.text {
	color: #001B17;
	text-align:center; 
  	vertical-align: middle;
  	display: table-cell;
  	font-size:24px;
}
.test{
	width:100%;
	background-color: yellow;
	height: 318px;
}
.inside{
	width:1873px;
	background-color: red;
	height: 318px;
	margin-left: 15px;
}
.box1{
	width:850px;
	background-color: green;
	height: 100%;
	float:left;
	background-image: url("../img/dogpicforinf.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.box2{
	width:850px;
	background-color: green;
	height: 100%;
	float:left;
	margin-left: 30px;
	background-image: url("../img/ricky-kharawala-10194-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.video-parent {
	overflow-y: hidden;
	height: 318px;
}
.footer-color{
	color: white;
}
.img-veterinar-1{
	background-image: url("../img/dogpicforinf.jpg");
	width: 197.59px; 
	height: 209.606px;
	margin: 24px;
	margin-left: 38px;
}
.footer-text{
	width: 100%;
	max-width: 61%;
	margin: 0 !important;
}





/*VETERINARS*/
.foto-secction{
	margin-top:182px;
}
.box-shadow{
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
	background-color:#fff;
}
.clear{
	clear:both;
}
.doctor-foto{
	float:left;
	margin:23px 20px 20px 20px;
	max-width:219px;
	max-height:191px;
	width:100%;
}
.read-more{
	float:right;	
}
.read{
    color:#444444 !important;
    font-size:20px;
}
a{
	text-decoration:none !important;	
}
.workplace-and-adress-bg{
	color:#808080;
	font-size:18px;
}
.workplace-bg{
	color:#444444;
	font-size:18px;
}
.doctor-name{
	color:#444444;
	font-size:22px;
}
.doctor-foto1{
	width:100%;
}
.text-about-veterinars{
	color:#808080;
	font-size:18px;
	padding-bottom:80px;
}





/*CONTACT*/
.header-text{
	font-size:30px;
	color:#606060;
}
.header-text2{
	font-size:30px;
	color:#444444;
}
.text-in-contact{
	color:#808080;
	font-size:15px;
}
.form1 {
    display: block;
    width: 100%;
    padding: 0.800rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #808080;
    border-radius: 0.70rem;
    cursor:pointer;
}
.contact-form{
    width: 100%;
    max-width: 550px;
    /*margin: auto;*/
}
.send-bg{
   border: 1px solid #808080;
   border-radius: 0.70rem;
   background-color:#fff;
   color: #001B17;
}





/*REGISTRATION AND LOGIN*/
.design{
	border: 1px solid #808080 !important;
    border-radius: 0.70rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    background-clip: padding-box !important;
    padding: 0.800rem 0.75rem !important;
}
.outline {
	outline: none !important;
}
.contact-form2{
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding-bottom:180px;
}
.form1-bg1{
	background-color:#DA402C;
	width: 100%;	
    border-radius: 0.70rem;
    height:50px;
}
.form1-bg2{
	background-color:#3B5998;
	width: 100%;	
    border-radius: 0.70rem;
    height:50px;
}
.validation-m {
    margin-left: 5px;
    font-size: 18px;
    color: #CCD7D5;
}
.text-in-contact-login{
	font-size:30px;
	color:#444444;
}
.text-in-contact-login2{
	font-size:19px;
	color:#606060;
}
.registering-text{
	color:#606060;
	font-size:19px;
}
.text-login{
	margin-top:80px;
}
#icon{
	background-image:url(../img/googleplus.svg); 
    background-repeat: no-repeat; 
    background-position: 15px 15px;
    cursor: pointer;
    background-size: 50px 18px;
}

#icon2{
	background-image:url(../img/facebok.svg); 
    background-repeat: no-repeat; 
    background-position: 15px 15px;
    cursor: pointer;
    background-size: 50px 18px;
}






/*EDIT*/
input[type="text"].active::-webkit-input-placeholder {
  color: #606060!important;
  font-weight:bold !important;
}
.contact-form3{
    width: 100%;
    max-width: 350px;
}
.save-bg{
	background-color:#006641;
	color:#fff;
}
/*.save-bg:hover{
	background-color:red;
}*/
.edit-account{
	color:#606060;
	font-size:35px;
}







/*ADD AN ADVERTISEMENT*/
.Filter1 {
	padding-left: 20px;
	font-size: 17px;
	min-width: 240px;
	width: 240px;
}
.category-p{
    color:#808080;
}
.star-foto{
	width:8px;
}
.section-in-add{
	margin-top:36px;
}
.section-in-add2{
	margin-top:125px;
}
.medium-form{
	display: block;
    width: 100%;
    cursor:pointer;
    max-width:160px;
    border-radius: 0.70rem;
}
.small-form{
	display: block;
    width: 100%;
    cursor:pointer;
    max-width:80px;
    border-radius: 0.70rem;
}
.add-advertisement {
	color:#444444;
	font-size:30px;
	font-style: italic;
}






/*DOGS PAGE*/
.main-category {
	margin-top: 182px;
	height: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	border-top: 2px solid lightgrey;
}
.Filter {
	padding-left: 25px;
	padding-bottom: 234px;
	font-size: 17px;
	min-width: 257px;
	width: 257px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}
.Category-Title {
	color: #444444;
	font-weight: bold;
	font-size: 22px;
	margin-top: 20px;
}
.category-filter h2:after{
	content: '';
    display: block;
    width: 80%;
    height: 1.2px;
    background-color: #444444;
    margin-top:5px;
}
.category-filter h2 {
	font-weight: bold;
	color: #444444;
	font-size: 22px;
	margin: 22px 0;
}
.category-filter h2 p {
	line-height: 1.7px;
}
.category-filter p {
	color:#808080;
	font-size:18px;
}
.radio label input {
	line-height: 1.7px;
	margin-right: 10px;
}
.category-filter label{
	color:#808080;
}
.category-container {
	margin-top: 20px;
	padding-bottom:35px;
	margin-left: 20px;
}
.marketDescription {
	color: #8C8C8C;
}
.marketBorder {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 1px 0px 10px 0px rgba(0, 0, 0, 0.19), 0px 0px 0px rgba(0, 0, 0, 0.19);
	padding-top: 20px;
	margin-top: 20px;
}
.price {
	float: right;
	color: red;
	font-weight: bold;
}
.marketButton {
	background-color: transparent;
	border-radius: 15%;
	text-align: center;
    text-decoration: none;
    border: none;
    font-size: 12px;
    color: #8C8C8C;
    cursor: pointer;
}
.addCard {
	width: 100px;
	height: 35px;
}
.detailed {
	width: 80px;
	height: 35px;
}
.price-controls input{
    width:75px;
    padding:8px 10px;
    font-size:16px;
    text-align:center;
    color:#808080;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #808080;
    border-radius: 0.70rem;
}
.min-price {
    margin-right:14px;
}
.georgian-lari{
	display:inline-block;
	width:10%;
}



/*DOGS_DETAILED*/
.price-detailed:after{
	content: '';
    display: block;
    width: 80%;
    height: 1.2px;
    background-color: #444444;
    margin-top:5px;
}
.p-dog-detailed{
	color:#808080;
	font-size:16px;
}
.p-in-slider{
	color:#444444;
	font-size:22px;
}
.slider-in-dogs{
	border:1px solid #005E3C;
}



/*MEDIA*/
@media(max-width:768px){
.footer-text{
	width: none;
	max-width:none;
	}
} 

@media(max-width: 420px){
.header-text,
.header-text2{
	font-size: 22px;
}
}

@media(max-width: 347px){
	.year{
		margin-top:10px;
	}
}

@media(max-width: 770px){
.left-colomn{
	flex-direction: column;
	}
.edit-information{
	padding-top:20px;
	}
}

@media(max-width: 526px){
.Filter1 {
	padding-left: 0!important;
	}
.form-add{
	margin-left:-60px;
	}
}

